<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title HOME
    body
        header 
            a(href=routes.home) GOODREADS
            a(href=routes.login) LOGIN
            a(href=routes.join) JOIN
        h1  굿리즈 코리아에 오신 것을 환영합니다!