form(action="post")
    input(type="text" name="username" placeholder="USERNAME")
    input(type="email" name="email" placeholder="이메일")
    input(type="password" name="password" placeholder="패스워드")
    input(type="password" name="password2" placeholder="패스워드 확인")
    input(type="submit" value="회원가입")