<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        each item in currentUser.favBooks
            img(src=`/${item.imageUrl}` width="100vh")
            h1 #{item.title}
            h2 #{item.author}
            h3 #{item.description}
            