form(action=routes.addBook method="post" enctype="multipart/form-data")
    input(type="text" name="bookName" placeholder="책 제목" required=true)
    input(type="textarea" name="bookDescription" placeholder="책 소개" required=true)
    label(for="bookImage") 이미지 등록
    input(type="file" id="bookImage" name="bookImage" required=true)
    input(type="submit" value="등록")