form(action="post" method="post" enctype="multipart/form-data")
    input(type="text" name="bookName" placeholder="책 제목")
    input(type="textarea" name="bookDescription" placeholder="책 소개")
    label(for="bookImage") 이미지 등록
    input(type="file" id="bookImage" name="bookImage")
    input(type="submit" value="등록")