
*{
    margin:0;
    padding:0;
  cursor: pointer;
}
.booklist{
    list-style: none;
position: absolute;
color: rgba(203, 202, 204, 0.281);
flex-direction: column;
}

ul{
    position: relative;
    overflow-y: hidden;
    position: fixed;
    transform: rotateY(45deg);

}
li:active{
    transform: scale(3);
}

@keyframes flip{

    0%{
        transform: rotateY(180);
    }
    100%{
        transform: rotateY(180);

    }
}