
a{
    transform-style: preserve-3d;
    transform: translateZ();
    background-image: url("");
    /* -webkit-animation:
    -moz-animation:
    -ms-animation: 
    -o-animation:  */
    display: contents;
     color:rgba(15, 15, 15, 0.425);
     text-overflow: ellipsis;
     background-color:rgba(229, 224, 149, 0.226);
    font-weight: inherit;
} 

