
a{
    transform-style: preserve-3d;
    transform: translateZ();
    background-image: url("");
    /* -webkit-animation:
    -moz-animation:
    -ms-animation: 
    -o-animation:  */
    font-family: Arial, Helvetica, sans-serif;
 
}